body{
    background-color: rgb(86, 3, 163);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.formulario{
    text-align: center;
    margin-top: 0;
    
}

label{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: aliceblue;
}

input{
    margin: 6px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
} 

main{
    max-width: 350px;
    background-color: rgb(1, 9, 102);
    margin: 300px auto 0 auto;
    border-radius: 20px;
    padding: 30px;
}

.botao{
    width: 120px;
    height: 35px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

